.body {
width:100%;
background-color:#515151;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.boxy {
   display:block;
   width:600px;
   margin:auto;
   margin-top:15px;
   margin-bottom:15px;
}
.qa {
   width :400px;
   display:block;
   float:right;
   height:200px;
}

.vote {
   width: 150px;
   display:block;
   float:left;
   height:200px;
}

.title {
   text-align:center;
}
#logo {
   min-height:100px;
}
