.body {
width:100%;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.boxy {
   display:block;
   width:600px;
   margin:auto;
}

.title {
   text-align:center;
}
#logo {
   min-height:200px;
}
